.titulo-ventana{
    background-color: #039FD8;
    color: #ad1e3f;
    text-align: center;
    /* font-weight: bolder; */
    font-size: 2.5em;
    padding: 0;
    padding-top: 8px;
    margin: 0;
}

.avatar{
    border-radius: 50%;
    /* border: solid 1px rgb(156, 149, 149); */
}

@font-face {
    font-family: 'Candy Shop';
    src: url('../fonts/candy-shop/Candy\ Shop\ Personal\ Use.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}

.f-candy-shop {
    font-family: 'Candy Shop';
}
/* estilo de formulario */
.form-control{
    border: 1px solid #ad1e3f;
   
}
/* estilo menu vertical */
#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
#menu ul li {
    background-color:#039FD8;
}
#menu ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}
#menu ul li a:hover {
    background: #ad1e3f;
    border-left: 10px solid #333;
    color: #fff;
}

img {
    background: transparent;
  }