.titulo-ventana{
    background-color: #039FD8;
    color: #312B2B;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.avatar{
    border-radius: 50%;
    /* border: solid 1px rgb(156, 149, 149); */
}