@font-face {
    font-family: 'Candy Shop';
    src: url('../fonts/candy-shop/Candy\ Shop\ Personal\ Use.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}
/* estilo cabecera */
#header{
    width: 1530px;
    height: 80px;
    background-color: #039FD8;
    color: #ad1e3f;
    font-family: 'Candy Shop';
    text-align: center;
    font-size: 50px;
    border: 5px solid  black;
   
    
}

#txt_header{
    padding-top: 15px;
    padding-bottom: 15px ;
}
#img_titulo{
    float: left;
    width:80px; 
    height:80px;
    border-right: 5px solid black;
   
}

#opciones{
    width: 100%;
    height: 30%;
    background-color: #039FD8;
    font-size: 30px;
}