
*{
    margin:0px;
    padding: 0px;
}
@font-face {
    font-family: 'Candy Shop';
    src: url('../fonts/candy-shop/Candy\ Shop\ Personal\ Use.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}
/* estilo cabecera */
#header{
    width: 1528px;
    height: 80px;
    background-color: #039FD8;
    color: #ad1e3f;
    font-family: 'Candy Shop';
    text-align: center;
    font-size: 50px;
    border: 5px solid  black;
   
    
}

#txt_header{
    padding-top: 15px;
    padding-bottom: 15px ;
}
#img_titulo{
    float: left;
    width:80px; 
    height:80px;
    border-right: 5px solid black;
   
}
/* barra clientes/usuario */
#opcion_cliente{
    width: 1528px;
    height: 25px;
    background-color: #039FD8;
    font-size: 22px;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    
}
#cliente{
    border: 1.5px solid  #ad1e3f;
    margin-bottom: 7px;

}
#username{
    float: right;
    margin-right: 1150px;
   
}
/* div contenedor */
#contenedor{
    width: 1528px;
    height: 600px;
    background-color: white;

}
/* productos-precio */
#productos_precio{
    width: 950px;
    height: 600px;
    background-color: #bfc9ca ;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    float: left;

}
.more{
    display: inline;
    border-left: 5px solid black;
    margin:60px;
    text-align: center;


}
#pp_articulo{
    display: inline;
    margin: 60px;
    

}
ul{
    border-bottom: 5px solid black;

}
/* div informacion del pago */
#inf_pago{
    margin-left: 960px;
    width: 573px;
    height: 600px;
    background-color: #bfc9ca ;
    border-right: 5px solid black;
  
    border-bottom: 5px solid black;
   
   
   
    
    

}

#tipo_pago{
    margin: 20px;
    font-size: 20px;
}
#txt_infpago{
    margin: 20px;
    font-size: 20px;

}

/* div para ingresar el codigo del producto */

#cod_productos{
    width:1528px;
    height:96px ;
    background-color: #bfc9ca ;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    margin-top: 5px;
    font-size: 20px;
}